:root {
    font-family: "IBM Plex Mono";
    font-weight: bolder;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    --color: rgba(255, 255, 255, 0.87);
    --background: rgba(29, 29, 29, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    padding: 1dvw;
    color: var(--color);
    background-color: var(--background);
    font-size: 12px;
    height: 100dvh;
    .sidePanal {
        width: 20dvw;
        height: 100%;
    }
    .canvas {
        height: 100%;
        width: 80dvw;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: hidden;
        line-height: 90%;
        user-select: none;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        #Indicator {
            position: absolute;
            z-index: -1;
        }
    }
}
