:root {
    font-family: "Bergen Mono";

    color-scheme: light dark;
    --color: rgba(255, 255, 255, 0.87);
    --background: rgba(29, 29, 29, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1dvw;
    color: var(--color);
    background-color: var(--background);
    font-size: 12px;
    height: 100dvh;
    .sidePanal {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        .option {
            display: flex;
            // justify-content: center;
            align-items: center;
            gap: 1vh;
        }
        .line {
            display: flex;
            align-items: flex-start;
            column-gap: 1.5vw;
            row-gap: 0.5vw;
            flex-wrap: wrap;
            
            p,a {
                display: block;
            }
            .logo {
                font-weight: 700;
            }
            .pair{
                display: flex;
                gap: 5px;
                .italic{
                    font-style: italic;
                }

                &.hidden{
                    display: none;
                }
            }
        }
        #buttons {
            margin: -5px;
            button {
                margin: 5px;
                padding: 5px;
            }
            .selected {
                background-color: var(--color);
                color: var(--background);
            }
        }
    }
    .canvas {
        font-family: "Bergen Mono";

        height: 100%;
        width: 100%;
        contain: strict;
        font-size: 18px;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: hidden;
        line-height: 80%;
        user-select: none;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        // text-transform: lowercase;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: none;
        outline: none;
        background-color: var(--background);
        resize: none;
        &:focus-visible {
            border: none;
            outline: none;
            background-color: var(--background);
        }
        &::selection {
            color: var(--color);
            // background: var(--background);
            opacity: 0;
        }

    }
    #Indicator {
        position: absolute;
        z-index: -1;
        font-size: 18px;
        line-height: 80%;
    }
}

@font-face {
    font-family: "Bergen Mono";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/BergenMono-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Bergen Mono";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/BergenMono-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Bergen Mono";
    font-style: italic;
    font-weight: 300;
    src: url("fonts/BergenMono-Italic.woff2") format("woff2");
}
